html, body * { box-sizing: border-box; font-family: 'Open Sans', sans-serif;
}
body{
   padding: 0px;
   margin: 0px;
}

#sing {
   width: 100%;

   background:
           linear-gradient(
                   rgba(35,43,85,0.75),
                   rgba(35,43,85,0.95)),
           no-repeat;
   min-height: 100vh;



}

.frame {

   height: 500px;
   width: 430px;
   margin-left: auto;
   margin-right: auto;
   box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
   overflow: hidden;
   transition: all .5s ease;
}

.frame-long {
   height: 615px;
}

.frame-short {
   height: 400px;
   margin-top: 50px;
   box-shadow: 0px 2px 7px rgba(0,0,0,0.1);
}

.nav {
   width: 100%;
   height: 100px;
   padding-top: 40px;
   opacity: 1;
   transition: all .5s ease;
}

.nav-up {

   transform: translateY(-100px);
   opacity: 0;
}

li {
   padding-left: 10px;
   font-size: 18px;
   display: inline;
   text-align: left;
   text-transform: uppercase;
   padding-right: 10px;
   color: #ffffff;
}
.container {
   background-color: #122a3b;
}
.signin-active a {
   padding-bottom: 10px;
   text-decoration: none;
   border-bottom: solid 2px #1059FF;
   transition: all .25s ease;
   cursor: pointer;
}

.signin-inactive a {
   padding-bottom: 0;
   text-decoration: none;
   border-bottom: none;
   cursor: pointer;
}

.signup-active a {
   cursor: pointer;
   text-decoration: none;
   border-bottom: solid 2px #1059FF;
   padding-bottom: 10px;
}

.signup-inactive a {
   cursor: pointer;
   text-decoration: none;
   transition: all .25s ease;
}

.form-signin {
   width: 430px;
   height: 375px;
   font-size: 16px;
   font-weight: 300;
   padding-left: 37px;
   padding-right: 37px;
   padding-top: 55px;
   transition: opacity .5s ease, transform .5s ease;

}

.form-signin-left {
   transform: translateX(-400px);
   opacity: .0;
}

.form-signup {
   width: 430px;
   height: 375px;
   font-size: 16px;
   font-weight: 300;
   padding-left: 37px;
   padding-right: 37px;
   padding-top: 55px;
   position: relative;
   top: -375px;
   left: 400px;
   opacity: 0;
   transition: all .5s ease;
}

.form-signup-left {
   transform: translateX(-399px);
   opacity: 1;
}

.form-signup-down {
   top: 0px;
   opacity: 0;
}

.form-signin input, .form-signup input {
   color: #ffffff;
   font-size: 13px;
}

.form-styling {
   width: 100%;
   height: 35px;
   padding-left: 15px;
   border: none;
   border-radius: 20px;
   margin-bottom: 20px;
   background: rgba(255,255,255,.2);
}

label {
   font-weight: 400;
   text-transform: uppercase;
   font-size: 13px;
   padding-left: 15px;
   padding-bottom: 10px;
   color: rgba(255,255,255,.7);
   display: block;
}

:focus {outline: none;
}

.form-signin input:focus, textarea:focus, .form-signup input:focus, textarea:focus {
   background: rgba(255,255,255,.3);
   border: none;
   padding-right: 40px;
   transition: background .5s ease;
}



.btn-signup {
   float: left;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 13px;
   text-align: center;
   color: #ffffff;
   padding-top: 8px;
   width: 100%;
   height: 35px;
   border: none;
   border-radius: 20px;
   margin-top: 23px;
   background-color: #1059FF;
}

.btn-signin {
   float: left;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 13px;
   text-align: center;
   color: #ffffff;
   padding-top: 8px;
   width: 100%;
   height: 35px;
   border: none;
   border-radius: 20px;
   margin-top: -8px;
   background-color: #1059FF;
}

.btn-animate {
   float: left;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 13px;
   text-align: center;
   color: rgba(255,255,255, 1);
   padding-top: 8px;
   width: 100%;
   height: 35px;
   border: none;
   border-radius: 20px;
   margin-top: 23px;
   background-color: rgba(16,89,255, 1);
   left: 0px;
   top: 0px;
   transition: all .5s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s;
}



a.btn-signup:hover, a.btn-signin:hover {
   cursor: pointer;
   background-color: #0F4FE6;
   transition: background-color .5s;
}

.forgot {
   height: 100px;
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   padding-top: 24px;
   margin-top: -450px;
   border-top: solid 1px rgba(255,255,255,.3);
   transition: all 0.5s ease;

}

.forgot-left {
   transform: translateX(-400px);
   opacity: 0;
}

.forgot-fade {
   opacity: 0;
}

.forgot a {
   color: rgba(255,255,255,.3);
   font-weight: 400;
   font-size: 13px;
   text-decoration: none;
}

.input-forgot{
   width: 58%;
}
.btn-forgot{
   width: 40%;
   float: none;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 13px;
   text-align: center;
   color: #ffffff;
   height: 35px;
   border: none;
   border-radius: 20px;
   margin-top: -8px;
   background-color: #1059FF;
}
